
{{#each members}}
    <a href="{{link}}" class="member">
        <img src="{{avatar}}">
        <h3 class="name">
            <span class="first">{{firstname}}</span>
            <span class="last">{{lastname}}</span>
        </h3>
        <span class="role">{{role}}</span>
    </a>
{{/each}}
